---
layout: protosandbox
title: Sandbox
---

<a id="showhide" href="">Show/Hide</a>
<div class="toggles">
  <ul>
    <li><a id="lighttheme" href="">Light</a>  <a id="darktheme" href="">Dark</a></li>
    <li><a id="underlinelinks" href="">Underline links</a>  <a id="linkswcolor" href="">Links w/color</a></li>
    <li><a id="headlineopensans" href="">Open Sans Headline</a>  <a id="headlineplayfair" href="">Playfair Headline</a></li>
    <li><a id="bodygeorgia" href="">Georgia</a>  <a id="bodyopensans" href="">Open Sans</a>  <a id="bodyplayfair" href="">Playfair</a>  <a id="bodynoticia" href="">Noticia</a></li>
  </ul>
</div>

<div class="themes">
  <div class="theme-one">
  <a href="#theme-one" id="theme-one"><h2>Theme One</h2></a>
  {% for story in site.data.storyexamples %}
    <article class="story">
      <figure class="story_leadart">
        <span>{{ story.photocredit }}</span>
        <img src="{{ story.leadart }}" alt="">
      </figure>
      <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
      <div class="story_info">
        <p class="story_info--pub"><i class="fa fa-clock-o"></i>{{ story.pub_date }}</p><p class="story_info--comments"><a href=""><i class="fa fa-comments-o"></i>{{ story.num_comments }}</a></p><p class="story_info--print"><a href=""><i class="fa fa-print"></i>Print</a></p>
      </div>
      <p class="story_byline">By <a href="">{{ story.author }}</a></p>
      <div class="story_body">
        {{ story.body }}
      </div>
    </article>
  {% endfor %}
  </div>

  <div class="theme-two">
    <a href="#theme-two" id="theme-two"><h2>Theme Two</h2></a>
    {% for story in site.data.storyexamples %}
      <article class="story">
        <div class="story_meta--wrapper">
          <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
        </div>
        <p class="story_byline">by <a href="">{{ story.author }}</a></p>
        <figure class="story_leadart">
          <span>{{ story.photocredit }}</span>
          <img src="{{ story.leadart }}" alt="">
        </figure>
        <figcaption>{{ story.caption }}</figcaption>
        <div class="story_info">
          <p><span class="story_info--pub">{{ story.pub_date }}</span> | <a class="story_info--comments" href="">{{ story.num_comments }} Comments</a></p>
        </div>
        <div class="story_body">
          {{ story.body }}
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="theme-three">
    <a href="#theme-three" id="theme-three"><h2>Theme Three</h2></a>
    {% for story in site.data.storyexamples %}
      <article class="story">
        <figure class="story_leadart">
          <img src="{{ story.leadart }}" alt="">
          <span>{{ story.photocredit }}</span>
        </figure>
        <div class="story_meta--wrapper">
          <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
        </div>
        <p class="story_byline">by <a href="">{{ story.author }}</a></p>
        <div class="story_info">
          <p class="story_info--pub">{{ story.pub_date }}</p><p class="story_info--comments"><a href="">{{ story.num_comments }} Comments</a></p>
        </div>
        <div class="story_body">
          {{ story.body }}
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="theme-four">
  <a href="#theme-four" id="theme-one"><h2>Theme Four</h2></a>
  {% for story in site.data.storyexamples %}
    <article class="story">
      <figure class="story_leadart">
        <span>{{ story.photocredit }}</span>
        <img src="{{ story.leadart }}" alt="">
      </figure>
      <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
      <p class="story_info--pub">{{ story.pub_date }}</p>
      <p class="story_byline">By <a href="">{{ story.author }} <span>&#8226;</span> {{ story.num_comments }} Comments</a></p>
      <div class="story_body">
        {{ story.body }}
      </div>
    </article>
  {% endfor %}
  </div>
</div>

<script type="text/javascript">
  // Link style toggles
  $('#underlinelinks').click(function(e) {
    e.preventDefault();
    $('body').removeClass('links--withcolor');
    $('body').addClass('links--underlineonly');
  });

  $('#linkswcolor').click(function(e) {
    e.preventDefault();
    $('body').removeClass('links--underlineonly');
    $('body').addClass('links--withcolor');
  });

  // Light and dark theme toggles
  $('#lighttheme').click(function(e) {
    e.preventDefault();
    $('body').removeClass('theme--dark');
    $('body').addClass('theme--light');
  });

  $('#darktheme').click(function(e) {
    e.preventDefault();
    $('body').removeClass('theme--light');
    $('body').addClass('theme--dark');
  });

  // Headline font toggles
  $('#headlineopensans').click(function(e) {
    e.preventDefault();
    $('body').removeClass('headline--playfair');
    $('body').addClass('headline--opensans');
  });

  $('#headlineplayfair').click(function(e) {
    e.preventDefault();
    $('body').removeClass('headline--opensans');
    $('body').addClass('headline--playfair');
  });

  // Body font toggles
  $('#bodygeorgia').click(function(e) {
    e.preventDefault();
    $('body').removeClass('bodytext--playfair');
    $('body').removeClass('bodytext--opensans');
    $('body').removeClass('bodytext--noticia');
    $('body').addClass('bodytext--georgia');
  });

  $('#bodyplayfair').click(function(e) {
    e.preventDefault();
    $('body').removeClass('bodytext--opensans');
    $('body').removeClass('bodytext--georgia');
    $('body').removeClass('bodytext--noticia');
    $('body').addClass('bodytext--playfair');
  });

  $('#bodyopensans').click(function(e) {
    e.preventDefault();
    $('body').removeClass('bodytext--georgia');
    $('body').removeClass('bodytext--playfair');
    $('body').removeClass('bodytext--noticia');
    $('body').addClass('bodytext--opensans');
  });

  $('#bodynoticia').click(function(e) {
    e.preventDefault();
    $('body').removeClass('bodytext--georgia');
    $('body').removeClass('bodytext--playfair');
    $('body').removeClass('bodytext--opensans');
    $('body').addClass('bodytext--noticia');
  });

  $('#showhide').click(function(e) {
    e.preventDefault();
    $('.toggles').toggle();
  });
</script>
