---
layout: protosandbox
title: Sandbox
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/fonts/heuristica.css" type="text/css" charset="utf-8" />
<div class="theme-one">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<a href="#theme-one" id="theme-one"><h2>Theme One</h2></a>
{% for story in site.data.storyexamples %}
  <article class="story">
    <figure class="story_leadart">
      <img src="{{ story.leadart }}" alt="">
    </figure>
    <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
    <p class="story_byline">by <a href="">{{ story.author }}</a></p>
    <div class="story_body">
      {{ story.body }}
    </div>
  </article>
{% endfor %}
</div>

<div class="theme-two">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,900italic' rel='stylesheet' type='text/css'>
  <a href="#theme-two" id="theme-two"><h2>Theme Two</h2></a>
  {% for story in site.data.storyexamples %}
    <article class="story">
      <figure class="story_leadart">
        <img src="{{ story.leadart }}" alt="">
      </figure>
      <div class="story_headline--notch">
        <hr><br>
        <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
      </div>
      <p class="story_byline">by <a href="">{{ story.author }}</a></p>
      <div class="story_body">
        {{ story.body }}
      </div>
    </article>
  {% endfor %}
</div>

<div class="theme-three">
  <a href="#theme-three" id="theme-three"><h2>Theme Three</h2></a>
  {% for story in site.data.storyexamples %}
    <article class="story">
      <figure class="story_leadart">
        <img src="{{ story.leadart }}" alt="">
      </figure>
      <div class="story_headline--notch">
        <hr><br>
        <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
      </div>
      <p class="story_byline">by <a href="">{{ story.author }}</a></p>
      <div class="story_body">
        {{ story.body }}
      </div>
    </article>
  {% endfor %}
</div>

<div class="theme-four">
  <a href="#theme-four" id="theme-four"><h2>Theme Four</h2></a>
  {% for story in site.data.storyexamples %}
    <article class="story">
      <figure class="story_leadart">
        <img src="{{ story.leadart }}" alt="">
      </figure>
      <div class="story_meta--wrapper">
        <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
      </div>
      <p class="story_byline">by <a href="">{{ story.author }}</a></p>
      <div class="story_body">
        {{ story.body }}
      </div>
    </article>
  {% endfor %}
</div>

<div class="theme-five">
<a href="#theme-five" id="theme-five"><h2>Theme Five</h2></a>
{% for story in site.data.storyexamples %}
  <article class="story">
    <figure class="story_leadart">
      <img src="{{ story.leadart }}" alt="">
    </figure>
    <h1 itemprop="headline" class="story_headline">{{ story.headline }}</h1>
    <p class="story_byline">by <a href="">{{ story.author }}</a></p>
    <div class="story_body">
      {{ story.body }}
    </div>
  </article>
{% endfor %}
</div>

<div class="theme-six">
<a href="#theme-six" id="theme-six"><h2>Theme Six</h2></a>
{% for story in site.data.storyexamples %}
  <article class="story">
    <figure class="story_leadart">
      <img src="{{ story.leadart }}" alt="">
    </figure>
    <div class="story_headline">
      <h1 itemprop="headline">{{ story.headline }}</h1>
    </div>
    <p class="story_byline">by <a href="">{{ story.author }}</a></p>
    <div class="story_body">
      {{ story.body }}
    </div>
  </article>
{% endfor %}
</div>

<div class="theme-seven">
<a href="#theme-seven" id="theme-seven"><h2>Theme Seven</h2></a>
{% for story in site.data.storyexamples %}
  <article class="story">
    <figure class="story_leadart">
      <img src="{{ story.leadart }}" alt="">
    </figure>
    <div class="story_headline">
      <h1 itemprop="headline">{{ story.headline }}</h1>
    </div>
    <p class="story_byline">by <a href="">{{ story.author }}</a></p>
    <div class="story_body">
      {{ story.body }}
    </div>
  </article>
{% endfor %}
</div>
