// TODO: Develop variables' naming conventions
// Add in "color" to the beginning of variables and have them use dashes
$yellow_tribune: #ffc200
$yellow_pop: #ffd000
$blue_light: #a5d6e3
$blue_teal: #138ba3
$blue_dark: #54B5DF
$black: #222

$link_underline: $blue_light
$link_text: $blue_teal

.themes
  position: relative
  top: 160px

body
  @media screen and (min-width: 521px)
    width: 400px

// Font sizes
.story
  font-size: 14px
  // @media screen and (max-width: 799px)
  //   font-size: 16px
  // @media screen and (max-width: 520px)
  //   font-size: 14px

// A few starter styles
.story_leadart
  margin: 0
  img
    width: 100%
.story_headline
  font-size: 2em
  line-height: 1.2
  padding: 0 1em
.story_byline
  font-size: 1.2em
.story_body
  p
    font-size: 1.2em
    line-height: 1.5
  h2
    padding: 0.5em 1.5em
input[type="submit"], input[type="email"]
  -webkit-appearance: none
  -webkit-border-radius: 0px
.story_ad
  margin-top: 1em
  text-align: center
  width: 100%
  img
    height: 250px
    width: 300px

.themenum
  color: #000
  height: 70px
  width: 70px
  h1
    font-family: 'Open Sans', sans-serif
    font-weight: 700
    margin-left: 0.5em


// variation 1
.variation-one
  .story_leadart
    background-color: #f5f5f5
    position: relative
    span
      background-color: transparentize($black, 0.25)
      bottom: 5px
      color: #ddd
      font-family: 'Open Sans', sans-serif
      font-size: 0.75em
      letter-spacing: 0.05em
      padding: 0.25em 0.5em
      position: absolute
      right: 0
      text-transform: uppercase
  figcaption
    background-color: #f5f5f5
    border-bottom: 1px solid #ddd
    color: #424242
    font-family: 'Open Sans', sans-serif
    font-size: 0.875em
    padding: 0.8em 0.8em 1em 0.8em
  .story_meta--wrapper
    background-color: $black
    padding: 0.8em 0 0.5em 0
    position: relative
  .story_headline
    background-color: $black
    color: white
    border-left: 5px solid $yellow_tribune
    font-family: Georgia, serif
    font-size: 2em
    font-weight: 400
    margin-top: 0
    padding: 0 0.5em
    position: relative
  .story_info
    color: #aaa
    font-family: 'Open Sans', sans-serif
    font-size: 0.9em
    font-weight: 700
    letter-spacing: .03em
    margin: 1em 0
    text-align: center
    text-transform: uppercase
  .story_info--pub, .story_info--comments
    font-family: 'Open Sans', sans-serif
    padding: 0 0.5em
  .story_info--pub
    color: #888
  .story_info--comments
    color: $blue_teal
    text-decoration: none
  .story_byline
    background-color: $black
    color: white
    margin: 0 0 0 0
    padding: 0.5em 1.4em
    font-family: 'Open Sans', sans-serif
    font-size: 1em
    letter-spacing: .07em
    text-transform: uppercase
    a
      color: $blue_light
      font-weight: 700
      text-decoration: none
  .story_body
    margin: 0.5em 0 0 0
    h2
      padding: 0.8em 0.8em 0.5em 0.8em
    p
      padding: 0.5em 0.8em
  .story_body
    p, h2
      font-family: Georgia, serif
    a
      border-bottom: 1px solid $link_underline
      box-shadow: inset 0 -2px 0 0 $link_underline
      text-decoration: none
      &:hover
        border-bottom: 1px solid $blue_dark
        box-shadow: inset 0 -2px 0 0 $blue_dark
    p.signup_pg
      font-family: 'Open Sans', sans-serif
    h2.signup_header
      font-family: Georgia, serif
    .story_disclosure
      background-color: #f5f5f5
      border-bottom: 1px solid #ddd
      border-top: 1px solid #ddd
      font-family: 'Open Sans', sans-serif
      font-size: 1em
      margin: 1em 0
      padding: 0.8em
    .story_related--reference
      display: inline-block
      padding: 0.5em 1em
      position: relative
      a
        border: none
        box-shadow: none
        &:hover
          border: none
          box-shadow: none
      .story_related--referenceicon
        display: inline-block
        float: left
        width: 20%
      i
        background-color: $blue_light
        color: white
        font-size: 3em
        padding: 0.3em
      .story_related--referenceinfo
        display: inline-block
        float: left
        padding: 0 0.5em
        width: 75%
        h4, p
          font-family: 'Open Sans', sans-serif
        h4
          float: left
          font-weight: 700
          margin: 0
        p
          clear: left
          font-size: 1em
          padding: 0
  .story_ad
    background-color: #f5f5f5
    border-bottom: 1px solid #ddd
    border-top: 1px solid #ddd
    height: 270px
    img
      padding: 10px 0
  hr.hrsignup
    display: none
  .signup
    border-top: 3px solid $yellow_pop
    border-bottom: 3px solid $yellow_pop
    margin: 1em 0
    padding: 0.5em 0.8em 0.8em 0.8em
    text-align: center
    h2.signup_header
      font-family: Georgia, serif
      font-size: 1.6em
      padding: 0
    p.signup_pg
      font-family: 'Open Sans', sans-serif
    p
      font-size: 1em
      margin: 0
      padding: 0 0 0.5em 0
    input
      border: none
      font-family: 'Open Sans', sans-serif
      font-size: 1em
      padding: 0.5em
    input[type="email"]
      background-color: #f5f5f5
      color: #888
      width: 60%
    input[type="submit"]
      background-color: $yellow_pop
      color: #424242
      font-weight: 700
      width: 30%
  .story_relatedcontent
    margin-bottom: 3em
    margin-top: 1em
    h2
      background-color: #222
      color: white
      font-family: 'Open Sans', sans-serif
      font-size: 1.2em
      font-weight: 500
      letter-spacing: 0.03em
      padding: 0.5em 1em
      text-transform: uppercase
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        border-bottom: 1px solid #ddd
        padding: 0.2em 0
      a
        color: #424242
        display: block
        font-family: Georgia, serif
        font-size: 1.2em
        font-weight: 700
        padding: 0.5em 2.5em 0.5em 0.8em
        text-decoration: none


// variation 2
.variation-two
  .story_leadart
    background-color: #f5f5f5
    position: relative
  figcaption
    background-color: #f5f5f5
    border-bottom: 1px solid #ddd
    color: #424242
    font-family: 'Open Sans', sans-serif
    font-size: 0.875em
    padding: 0.8em 0.8em 1em 0.8em
    span
      color: $black
      font-family: 'Open Sans', sans-serif
      font-weight: 700
      text-transform: uppercase
  .story_meta--wrapper
    background-color: $black
    padding: 0.8em 0 0.5em 0
    position: relative
  .story_headline
    background-color: $black
    color: white
    border-left: 5px solid $yellow_tribune
    font-family: 'PT Serif', serif
    font-size: 2em
    font-weight: 400
    margin-top: 0
    padding: 0 0.5em
    position: relative
  .story_info
    color: #aaa
    font-family: 'Open Sans', sans-serif
    font-size: 0.9em
    font-weight: 700
    letter-spacing: .03em
    margin: 1em 0
    text-align: center
    text-transform: uppercase
  .story_info--pub, .story_info--comments
    font-family: 'Open Sans', sans-serif
    padding: 0 0.5em
  .story_info--pub
    color: #888
  .story_info--comments
    color: $blue_teal
    text-decoration: none
  .story_byline
    background-color: $black
    color: white
    margin: 0 0 0 0
    padding: 0.5em 1.4em
    font-family: 'Open Sans', sans-serif
    font-size: 1em
    letter-spacing: .07em
    text-transform: uppercase
    a
      color: $blue_light
      font-weight: 700
      text-decoration: none
  .story_body
    margin: 0.5em 0 0 0
    h2
      padding: 0.8em 0.8em 0.5em 0.8em
    p
      padding: 0.5em 0.8em
  .story_body
    p, h2
      font-family: 'PT Serif', serif
    a
      border-bottom: 1px solid $link_underline
      box-shadow: inset 0 -2px 0 0 $link_underline
      text-decoration: none
      &:hover
        border-bottom: 1px solid $blue_dark
        box-shadow: inset 0 -2px 0 0 $blue_dark
    p.signup_pg
      font-family: 'Open Sans', sans-serif
    h2.signup_header
      font-family: 'PT Serif', serif
    .story_disclosure
      background-color: #f5f5f5
      border-bottom: 1px solid #ddd
      border-top: 1px solid #ddd
      font-family: 'Open Sans', sans-serif
      font-size: 1em
      margin: 1em 0
      padding: 0.8em
    .story_related--reference
      display: inline-block
      padding: 0.5em 1em
      position: relative
      a
        border: none
        box-shadow: none
        &:hover
          border: none
          box-shadow: none
      .story_related--referenceicon
        display: inline-block
        float: left
        width: 20%
      i
        background-color: $blue_light
        color: white
        font-size: 3em
        padding: 0.3em
      .story_related--referenceinfo
        display: inline-block
        float: left
        padding: 0 0.5em
        width: 75%
        h4, p
          font-family: 'Open Sans', sans-serif
        h4
          float: left
          font-weight: 700
          margin: 0
        p
          clear: left
          font-size: 1em
          padding: 0
  .story_ad
    background-color: #f5f5f5
    border-bottom: 1px solid #ddd
    border-top: 1px solid #ddd
    height: 270px
    img
      padding: 10px 0
  hr.hrsignup
    display: none
  .signup
    border-top: 3px solid $yellow_pop
    border-bottom: 3px solid $yellow_pop
    margin: 1em 0
    padding: 0.5em 0.8em 0.8em 0.8em
    text-align: center
    h2.signup_header
      font-family: 'PT Serif', serif
      font-size: 1.6em
      padding: 0
    p.signup_pg
      font-family: 'Open Sans', sans-serif
    p
      font-size: 1em
      margin: 0
      padding: 0 0 0.5em 0
    input
      border: none
      font-family: 'Open Sans', sans-serif
      font-size: 1em
      padding: 0.5em
    input[type="email"]
      background-color: #f5f5f5
      color: #888
      width: 60%
    input[type="submit"]
      background-color: $yellow_pop
      color: #424242
      font-weight: 700
      width: 30%
  .story_relatedcontent
    margin-bottom: 3em
    margin-top: 1em
    h2
      border-bottom: 3px solid $yellow_tribune
      color: $black
      font-family: 'Open Sans', sans-serif
      font-size: 1.2em
      font-weight: 700
      letter-spacing: 0.03em
      padding: 0.5em 1em
      text-transform: uppercase
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        border-bottom: 1px solid #ddd
        padding: 0.2em 0
      a
        color: #424242
        display: block
        font-family: 'PT Sans', serif
        font-size: 1.2em
        font-weight: 400
        padding: 0.5em 2.5em 0.5em 0.8em
        text-decoration: none
