.story_leadart
  img
    width: 100%

.theme-one
  .story
    a
      border-bottom: 0.4em solid #95CDDD
      text-decoration: none
  .story_headline
    font-family: 'Open Sans', sans-serif
    margin-top: 0.5em
    padding: 0 0.6em
  .story_byline
    font-family: 'Open Sans', sans-serif
    margin-top: 0.5em
    padding: 0 1em
    a
      font-weight: 700
  .story_body
    margin-top: 0.5em
    padding: 0.5em 1em
    p
      font-family: 'gandhi_serifregular', serif
