<div class="container homepage">
  <h1 id="main-page-header">Texas Tribune Style Guides</h1>
    <p>As living documents of Texas Tribune sites and platforms, the goal is that each style guide looks and feels like interacting with the project itself. All style guides use the Sass from the project they record so that as a project's look evolves, the updated Sass can be added in and the style guide will continue to match the project. </p>
    <p>These style guides can be used as a reference for those who are interested in the code for implementing these styles, as well as those who aren't. One goal is for the style guides to be welcoming and helpful to all who visit, and for each user to be able to get out of the style guide what she particularly needs.</p>
  <div id="side-nav">
    <ul>
      {% for p in site.pages %}
        {% if p.url != page.url %}
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
