// image citations
.photo_links
  color: #666
  font-family: Helvetica, Arial, sans-serif
  line-height: 20px
  margin-top: 0.1667em
  overflow: auto
  padding: 0 3px 0 1px
  cite
    font-size: 0.6em
    font-style: normal
    font-weight: normal
    text-decoration: none